# Ignore Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Ignore .terraform directory and lock file
.terraform/
.terraform.lock.hcl

# Ignore crash logs
crash.log
crash.*.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore plan files
*.tfplan
tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore generated Lambda zip files
*.zip

# Ignore local environment files
.env
.env.*
